* {
  box-sizing: border-box;
}

body {
  background-image: var(--gradientAccentColor);
  font-family: var(--manropeFont);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

:root {
  /* color */
  --gradientAccentColor: linear-gradient(90deg, #FF634E 0%, #FFDF48 105.44%);
  --accentColor: #F59256;
  --fonColor: #FDF7F2;
  --blackColor: #111111;
  --grayColor: rgba(17, 17, 17, 0.6);
  --skyColor: #3091EB;
  --whiteColor: #FFFFFF;
  --transition: 0.4s;
  --box-shadow-color: 0px 2px 8px rgba(0, 0, 0, 0.2);
  /* fontFamily */
  --interFont: 'Inter';
  --manropeFont: 'Manrope';
  --montserratFont: 'Montserrat';
  --poppinsFont: 'Poppins';
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}