* {
  box-sizing: border-box;
}

body {
  background-color: var(--fonColor);
  font-family: var(--manropeFont);
  margin: 0;
  width: 100%;
  height: 100%;
}

body.menu-open {
  overflow: hidden;
}

body[data-theme='dark'] {
  --gradientAccentColor: linear-gradient(90deg, #ff634e 0%, #ffdf48 105.44%);
  --accentColor: #f59256;
  --fonColor: #fdf7f2;
  --blackColor: #111111;
  --grayColor: rgba(17, 17, 17, 0.6);
  --skyColor: #3091eb;
  --whiteColor: #ffffff;
  --errorColor: #e2001a;
  --successColor: #3cbc81;
  --colorNewsDesc: #111321;
  --colorMobileLink: #181c27;
  --placeholderColor: #535353;
  --borderColorInput: rgba(245, 146, 86, 0.5);
  --boxShadowFormRegistr: 7px 4px 14px rgba(0, 0, 0, 0.11);
  --backgroundHoverBtn: rgba(245, 146, 86, 0.8);
  --navColor: #111111;
  --transition: 0.4s;
  --interFont: 'Inter';
  --manropeFont: 'Manrope';
  --montserratFont: 'Montserrat';
  --poppinsFont: 'Poppins';
  --borderRadiusInput: 40px;
  --borderRadius20: 20px;
  --fontSize12: 12px;
  --fontSize14: 14px;
  --fontSize16: 16px;
  --fontSize18: 18px;
  --fontSize20: 20px;
  --fontSize24: 24px;
  --fontSize28: 28px;
  --fontSize36: 36px;
  --fontSize32: 32px;
  --fontSize48: 48px;
  --fontSize68: 68px;
  --fontWeight700: 700;
  --fontWeight500: 500;
}

body[data-theme='light'] {
  --gradientAccentColor: linear-gradient(90deg, #2e3f4f 0%, #526b7e 105.44%);
  --accentColor: #f59256;
  --fonColor: #1e252c;
  --blackColor: #ffffff;
  --grayColor: rgba(255, 255, 255, 0.6);
  --skyColor: #426cbf;
  --whiteColor: #111111;
  --errorColor: #ff3b5a;
  --successColor: #6cd979;
  --colorNewsDesc: #f5f5f5;
  --colorMobileLink: #dfe1e3;
  --placeholderColor: #a1a1a1;
  --borderColorInput: rgba(78, 100, 120, 0.5);
  --boxShadowFormRegistr: 7px 4px 14px rgba(255, 255, 255, 0.11);
  --backgroundHoverBtn: rgba(78, 100, 120, 0.8);
  --navColor: #f59256;
  --transition: 0.4s;
  --interFont: 'Inter';
  --manropeFont: 'Manrope';
  --montserratFont: 'Montserrat';
  --poppinsFont: 'Poppins';
  --borderRadiusInput: 40px;
  --borderRadius20: 20px;
  --fontSize12: 12px;
  --fontSize14: 14px;
  --fontSize16: 16px;
  --fontSize18: 18px;
  --fontSize20: 20px;
  --fontSize24: 24px;
  --fontSize28: 28px;
  --fontSize36: 36px;
  --fontSize32: 32px;
  --fontSize48: 48px;
  --fontSize68: 68px;
  --fontWeight700: 700;
  --fontWeight500: 500;
}

:root {
  --gradientAccentColor: linear-gradient(90deg, #ff634e 0%, #ffdf48 105.44%);
  --gradientAccentColor: linear-gradient(90deg, #2e3f4f 0%, #526b7e 105.44%);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}